{% assign filtered_news = site.data.news_manual_update | where: "feature", true %}
{% assign news_by_year = filtered_news | sort: "date" | reverse | slice: 0, include.limit | group_by_exp: "item", "item.date | date: '%Y'" -%}

<div class="my-3 bg-white shadow-sm rounded-xl">
    <h6 class="p-3 mb-0 border-bottom border-gray"><i class="fas fa-rss"></i> News <a href="{{ 'news' | relative_url }}">(view all <i class="fas fa-angle-double-right"></i>)</a></h6>
    <div class="px-3 pb-1">
        {% for year in news_by_year %}
        <div class="media py-1 {% if not_first -%}border-top border-gray{%- endif %}">
            {% assign not_first = true %}
            <div class="mr-3 text-muted my-1">{{ year.name }}</div>
            <div class="media-body">
                {% for item in year.items %}
                <div class="my-1">
                    <div>{{ item.date | date: "%b. %Y" }}, {{ item.title }}</div>
                    <div class="text-right">
                        <span class="badge badge-pill badge-info">Featured</span>
                    </div>
                </div>
<!--同一行显示                 <div class="my-1 d-flex flex-wrap align-items-baseline">
                    <div class="mr-2">{{ item.date | date: "%b. %Y" }}, {{ item.title }}</div>
                    <span class="badge badge-pill badge-info align-self-center">Featured</span>
                </div> -->
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
